@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;

}
.container{
    width: 100%;
    height: 100vh;
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-weight:bolder;
    color: rgb(23, 23, 23);
}
.signIn-form{
    background-color: #fff;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    width: 100%;
    border-radius: 5px;
    padding: 3rem 1.5rem;
    margin: 0 20px;
    border-radius: 25px;
}
.input-container{
    position: relative;
    margin: 1rem 0 0.3rem 0;
    padding: 1.6rem;
    margin-top: 15px;
}
.input{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: none;
    border: 2px solid #DADCE0;
    outline:none;
    padding: 1rem 0;
    font-size: 1.2rem;
    border-radius: 10px;
    transition: 0.3s;
    padding-left: 15px;
}

.label{
    position: absolute;  
    top: 0.8rem;
    left: 1rem;
    transition: .3s;
    background-color: #fff;
  }
.input:focus + .label{
    top: -0.7rem;
    left: 1rem;
    color:hwb(214 10% 9%) ;
}
.input:not(:placeholder-shown) + .label{
    top: -0.7rem;
    left: 1rem;
    color:hwb(214 10% 9%);
}
.input:focus{
    border: 2px solid hwb(214 10% 9%);
}
.btn{
    display: block;
    margin-left: auto;
    padding: 0.7rem 2rem;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color:hwb(214 10% 9%) ;
    color: #fff;
    transition: 0.3s;
    font-size: 1rem;
}
.btn:hover{
    transform: scale(0.9);
}

